{"run_num": 0, "rm_weight": 10.0, "topk": 10, "mode": "greedy", "sample_temp": null, "perspective": [0, 9, -10]}
{"run_num": 1, "rm_weight": 10.0, "topk": 10, "mode": "greedy", "sample_temp": null, "perspective": [0, 9, 10]}
{"run_num": 2, "rm_weight": 10.0, "topk": 10, "mode": "greedy", "sample_temp": null, "perspective": [0, 9, 10, -4]}
{"run_num": 3, "rm_weight": 10.0, "topk": 10, "mode": "greedy", "sample_temp": null, "perspective": [0, 9, 10, 4]}