{"rm_weight": 0.0, "topk": 10, "mode": "greedy", "sample_temp": null, "perspective":[0]}
{"rm_weight": 1.0, "topk": 10, "mode": "greedy", "sample_temp": null, "perspective":[0]}
{"rm_weight": 3.0, "topk": 10, "mode": "greedy", "sample_temp": null, "perspective":[0]}
{"rm_weight": 6.0, "topk": 10, "mode": "greedy", "sample_temp": null, "perspective":[0]}
